body {
  font-size: 1em;
  font-family: 'Raleway', sans-serif !important; }

* {
  box-sizing: border-box; }

section.content_logowanie {
  padding-bottom: 10em; }
  section.content_logowanie h1 {
    margin-top: 2em; }
  section.content_logowanie p {
    width: 50%;
    color: gray;
    margin: auto; }
  section.content_logowanie .input-group {
    margin: auto;
    padding-top: 5em; }
    section.content_logowanie .input-group p.form_desc {
      font-size: 1.7em;
      width: 100%;
      margin-bottom: 1em; }
    section.content_logowanie .input-group input {
      display: block;
      margin-bottom: 2em;
      height: 4em; }
      section.content_logowanie .input-group input:focus {
        color: red;
        border-color: red; }
  section.content_logowanie .main_button {
    text-align: left;
    margin-left: 4em; }
    section.content_logowanie .main_button input#checkbox_input {
      display: inline-block;
      margin-bottom: 0em;
      margin-right: 1em; }
    section.content_logowanie .main_button button {
      margin-left: 8.5em;
      background-color: #8dc63f;
      color: white;
      font-weight: bold; }
