body {
  font-size: 1em;
  font-family: 'Raleway', sans-serif !important; }

* {
  box-sizing: border-box; }

header {
  margin-bottom: 1em; }
  header .header_title {
    position: relative;
    top: 1em;
    margin-left: 1em; }

section.site_name {
  background-color: #3e8042;
  color: white; }
  section.site_name h1 {
    margin: 1em; }
  section.site_name p {
    line-height: 7em;
    margin-right: 1em; }

section.content_help {
  padding-top: 5em; }
  section.content_help h3 {
    font-weight: bold;
    margin-bottom: 3em; }
  section.content_help ul li {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 3em;
    line-height: 2.5em;
    list-style-image: url("../img/arrow.png"); }
    section.content_help ul li:last-of-type {
      list-style: none; }
    section.content_help ul li:hover {
      cursor: pointer; }
    section.content_help ul li:active {
      list-style-image: url("../img/arrow_green.png"); }
    section.content_help ul li .new_list {
      font-size: .8em;
      display: none; }
      section.content_help ul li .new_list li {
        list-style: none !important;
        list-style-image: none !important;
        color: green;
        border: none;
        height: 1.3em; }
  section.content_help .search_help input {
    width: 70%;
    display: inline-block; }
  section.content_help .search_help button {
    color: white;
    font-weight: bold;
    background-color: #8dc63f;
    width: 9em; }
