body {
  font-size: 1em;
  font-family: 'Raleway', sans-serif !important; }

* {
  box-sizing: border-box; }

#produkty {
  border-bottom: .1em solid white;
  font-weight: bold; }

header {
  margin-bottom: 1em; }
  header .header_title {
    position: relative;
    top: 1em;
    margin-left: 1em; }

section.site_name {
  background-color: #3e8042;
  color: white;
  margin-bottom: 2em; }
  section.site_name h1 {
    margin: 1em 0em 1em 0em; }
  section.site_name p {
    line-height: 7em;
    margin-right: 1em; }

section.content_dealers h3 {
  font-weight: bold;
  margin: 2em 0em 4em 0em; }

section.content_dealers ul.dealers_list {
  margin-top: 12em;
  margin-left: 1.9em; }
  section.content_dealers ul.dealers_list li {
    list-style: none;
    display: inline-block;
    margin: 1em;
    margin-bottom: 2em; }
    section.content_dealers ul.dealers_list li .dealers_list_element {
      padding: .5em;
      height: 10em;
      box-shadow: -2px 18px 41px -10px #b3b3b3; }
    section.content_dealers ul.dealers_list li h4 {
      margin-top: 1.5em;
      color: #346947;
      font-weight: bold;
      font-size: 1em; }
    section.content_dealers ul.dealers_list li p {
      font-size: .8em;
      color: gray;
      margin: 0em; }

section.content_dealers .client_title {
  margin: 0em;
  margin: 2em 0em 2em 0em; }

section.content_dealers .table-responsive {
  margin: 2em 0em 2em 0em; }
  section.content_dealers .table-responsive th {
    background-color: #363636;
    color: white;
    font-size: bold; }
