body {
  font-size: 1em;
  font-family: 'Raleway', sans-serif !important;

}
* {
  box-sizing: border-box; }
#cennik{
    border-bottom: .1em solid white;
    font-weight: bold;
  }

section.price_list{
  margin-bottom: 5em;
  h1{
      margin-bottom: 1.5em;

  }
  h3{
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
  table{
    th{
      background-color: black;
      color: white;
    }
    td{
      font-weight: bold;
    }
  }
};
